*{
    font-family: sans-serif;
}
.container {
    position: fixed;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    
}

.left-div, .right-div {
    /* Optional styling */
    padding: 20px;
    overflow: auto;
}

/* Additional styling for left and right divs */
.left-div {
    background-color: #f0f0f0;
}

.right-div {
    background-color: #e0e0e0;
}

.container-row {
    display: flex;
    flex-direction: column;
}
.container-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.container-item .header {
    font-size: xx-large;
    padding: 10px;
}
.container .icon {
    width: 30px;
    height: 30px;
    font-size: large;
}
.container-item .button-bar {
    padding: 10px;
    display: flex;
    gap: 10px;
}
.container-item input{
    border: 1px solid #00000060;
    border-radius: 4px;
    padding: 5px;
}
.container-item textarea{
    resize: vertical;
    height: 350px;
    border-radius: 4x;
    font-family: monospace;
    padding: 5px;
    color: #3e3ec3;
}
.container-item button {
    border: 1px solid #00000060;
    border-radius: 4px;
    padding: 5px;
}
.container-item button:hover {
    background-color: #b6d6dd;
}
.container-item button:active {
    background-color: #a5c7ce;
}
.container button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
table {
    border-radius: 5px;
    width: 100%;
}
td.collapsible{
    padding: 0px;
    display: block;
    height: 300px;
    overflow: auto;
    transition: 600ms;
}
td.collapsible.closed{
    height: 0px;
    transition: 600ms;
}
.fw-bold{
    font-weight: bold;
}
.fs-small {
    font-size: small;
}
tr {
    border-bottom: 1px solid red;
}
td {
    padding: 5px;
    background-color: #d0d0d0;
}
td:nth-child(odd) {
    text-align: right;
}

td:nth-child(even) {
    text-align: left;
}
td.name-col {
    width: 70%;
}
td.score-col{
    width: 30%;
}

.animate-fade{
    transition: 500ms;
    opacity: 0;
}
.show {
    transition: 500ms;
    opacity: 1.0;
}
.cursor-info{
    cursor: help;
}
.cursor-pointer{
    cursor: pointer;
}
.t-e{
    text-align: end !important;
}
.t-s{
    text-align: start !important;
}
.t-c {
    text-align: center !important;
}
.t-green{
    color: greenyellow;
}
.t-red{
    color: red;
}

.icon {
    width: 30px;
    height: 30px;
    transition: 600ms;
    cursor: pointer;
    border: 1px solid #00000030;
    border-radius: 5px;
    padding: 4px;
}
.rotate {
    transform: rotate( 180deg );
    transition: 600ms;
}
.d-flex{
    display: flex;
}

.justify-content-between{
    display: flex;
    justify-content: space-between;
}

.justify-content-end{
    display: flex;
    justify-content: flex-end;
}
.me-2{
    margin-right: 2px;
}
.ms-2{
    margin-left: 2px;
}
fieldset {
    border: unset;
    margin: 0px;
    padding: 0px;
}
select {
    border: 1px solid #00000060;
    border-radius: 4px;
    padding: 5px;
}